.home-page {
  padding-bottom: 3rem;
}

.header {
  margin-bottom: 2rem;
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #9c27b0, #2196f3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }
} 